@import "tailwindcss";

@theme {
  /* Font */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Colors */
  --color-cBlack: #000;
  --color-cDarkGray: #353535;
  --color-cDarkerPurple: #3a1479;
  --color-cWhite: #fff;
  --color-cGolden: #efd05b;
  --color-cGradient1: #18043a;
  --color-cGradient2: #0e0b13;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Animations */
  --animate-text: text 5s ease infinite;
  --animate-box: box 5s ease infinite;
  --animate-scrollDown: scrollDown 3s ease infinite;
  --animate-scrollText: scrollText 3s ease infinite;

  /* Keyframes */
  @keyframes text {
    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }

    50% {
      background-size: 200% 200%;
      background-position: right center;
    }

    25% {
      background-size: 200% 200%;
      background-position: top center;
    }
  }

  @keyframes box {
    0%,
    100% {
      background-size: 200% 200%;
      background-position: top center;
    }

    50% {
      background-size: 200% 200%;
      background-position: bottom center;
    }

    25% {
      background-size: 200% 200%;
      background-position: top center;
    }
  }

  @keyframes scrollDown {
    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
      background-color: #86198f;
    }

    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }

  @keyframes scrollText {
    0%,
    100% {
      position: relative;
      top: 0px;
    }

    50% {
      top: 20px;
    }
  }
}