@tailwind base;
* {
  scrollbar-width: auto;
  scrollbar-color: #0f172a #0e0b13;
  scroll-behavior: smooth;
}

::selection {
  background-color: rgb(134 25 143);
  color: #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #0e0b13;
}

*::-webkit-scrollbar-thumb {
  background-color: #9826d2;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
